@{
    ViewData["Title"] = "O nama";
}
<h2>@ViewData["Title"]</h2>


<p>
    Rekreativni i amaterski snowboard klub Switch iz Dubrovnika. Bavi se okupljanjem i upoznavanjem ljubitelja zimskih
    radosti sa ovim predivnim sportom koji je ujedno i način života. Cilj nam je popularizacija snowboarda kod svih
    dobnih skupina uz licencirane i kvalitetne učitelje. Ako nemate vlastitu opremu nije problem jer ćemo se i za to
    pobrinuti iz našeg kvalitetnog rent-a.
</p>
