@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<br />
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.9387716963156!2d18.07483171548743!3d42.66265287916779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134c753ead394683%3A0x1e1e3f7c58622a17!2sTrpanjska%20ul.%204%2C%2020000%2C%20Dubrovnik!5e0!3m2!1shr!2shr!4v1585243158376!5m2!1shr!2shr"
width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

<address>
    Snowboard klub Switch<br />
    Trpanjska 4,<br />
    20000 Dubrovnik<br />
    <abbr title="Phone">Tel:</abbr>
    +385 91 196 1981
</address>

<address>
    <strong>Email:</strong> <a href="mailto:jare1906@gmail.com">Ivan Jarić</a><br />
    <strong>Facebook:</strong><a href="https://www.facebook.com/Snowboard-klub-Switch-Dubrovnik-2127738874014007/" target="_blank"> Facebook page</a>
</address>
