@{
    ViewData["Title"] = "Kaprun 2019";
}
<h2>@ViewData["Title"]</h2>
<p>
    Bili smo družili se sa super ekipom. Imali lijepo vrijeme i puno snijega. Najvažnije od svega konačno smo se odlučili
    i osnovali klub.
</p>
<p>
    Sretno nam bilo sa klubom i puno dobre vožnje.
</p>