@{
    ViewData["Title"] = "Freestyle week Rogla";
}
<h2>@ViewData["Title"]</h2>

<p>
    Nažalost bordanje koje se čeka cijelu sezonu na kojem je ekipa najnabrijanija i gdje se dešavaju najbolje stvari je
    zbog nedostatka snijega otkazan. U sljedećih nekoliko dana potruditi ćemo se organizirati neki novi kamp.

</p>
